<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'LOVE GRAPH', homes_top_path, class: "navbar-brand" %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'ABOUT', homes_about_path %></li>
            <li><%= link_to 'FLOW', homes_flow_path %></li>
            <li><%= link_to 'PHOTOS', homes_photos_path %></li>
            <li><%= link_to 'STAFFS', homes_staffs_path %></li>
            <li><%= link_to 'LOGIN', homes_login_path %></li>
            <li><%= link_to '撮影申し込み', inquiry_index_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
