<div class="container">
  <%= form_for @inquiry, :url => { :controller => :inquiry, :action => :confirm } do |f| %>
  <div class="form-group">
    <%= f.label :name,"名前" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number ,"電話番号"%><br>
    <%= f.text_field :phone_number %>
  </div>
  <div class="form-group">
    <%= f.label :mail ,"メールアドレス" %><br>
    <%= f.text_field :mail %>
  </div>

  <%= f.submit '内容の確認に進む'%>
  <% end %>
</div>
